.app {
  display: block;
  margin: 10vh auto;
  padding: 20px;
  border-radius: 15px;
  background-color: #f2f2f2;
  box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.15);
  width: 80vw;
  height: max-content;
}
.app__header {
  width: 95%;
  margin: 0 auto;
  display: flex;
  gap: 20px;
  align-items: center;
}
.app__timer {
  font-size: larger;
  font-weight: bold;
  align-self: flex-start;
}
.app__timer.warning {
  color: #c70000;
}
.app__title {
  margin: 0;
}
.app__content {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;
  margin: 20px auto 0;
}
